<h1>{{appTitle}}</h1>

<p>Welcome to your profile {{username}}</p>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#profile">Profile</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div>
  <form action="" method="POST" class="form-example">
    <div class="form-example1">
      <label for="Name">Enter your Name: </label>
      <input type="text" name="Name" id="Name" required />
    </div>
    <div class="form-example2">
      <label for="Location">Enter your company country location: </label>
      <input type="Location" name="Location" id="Location" />
    </div>
    <div class="form-example3">
      <label for="Company">Enter your Company: </label>
      <input type="Company" name="Company" id="Company" />
    </div>
    <div class="form-example4">
      <label for="Hiring">Is your company hiring Juniors?</label>
      <input type="checkbox" name="Hiring" id="Hiring" />
    </div>
    <div class="form-example4">
      <p>Are you instead looking for a job?
        <a class="active" href="#home">click here</a>
      </p>
    </div>
  </form>

</div>