<h1>{{appTitle}}</h1>

<p>Welcome to your profile</p>

<div>
  <form action="/register" method="POST" class="form">

    <div class="form-class">
      <label for="Name">Your name: </label>
      <input type="text" name="Name" id="Name" required />
    </div>

    <div class="form-class">
      <label for="Company">Name of the company who hired you</label>
      <input type="Company" name="Company" id="Company" />
    </div>

    <div class="form-class">
      <label for="Location">Where's the company based?</label>
      <input type="Location" name="Location" id="Location" />
    </div>

    <div class="form-class">
      <label for="Hiring">Is your company hiring other junior developers?</label>
      <input type="checkbox" name="Hiring" id="Hiring" />
    </div>

    <div class="form-class">
      <label for="Position">What's the open role called?</label>
      <input type="Position" name="Position" id="Position" />
    </div>

    <div class="form-class">
      <p>Are you jobless?
        <a class="active" href="/home">Checkout where other Ironhackers were hired</a>
      </p>
    </div>

  </form>
</div>