<h1>{{appTitle}} </h1>

{{!-- views/auth/login.hbs --}}

<div id="form">
  <h2>Login</h2>

  <form action="/login" method="POST">

    <label> Email
      <input type="Email" name="Email" placeholder="email@gmail.com" />
    </label>

    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

  <h2>Register</h2>

  <form action="/register" method="POST">

    <button type="submit">Register</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>