<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <div class="topnav">
     
         <a href="/home">Jobs</a>
         {{!-- <img class="nav-icons" src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png"> --}}

     
      <a href="/profile">My profile</a> 
      <a href="/logout">Log out</a> 

   </div>

   {{{body}}}

<footer>
   <p>designed by Mattia + Zuzana</p>
</footer>

   <script src="/js/script.js"></script>
</body>

</html>