<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.iconsdb.com/icons/download/blue/hexagon-24.ico"
    />
  </head>

  <body>
    <div class="topnav">
      <p class="ironhired-nav">IRONHIRED</p>

      <a href="/">Login/Register</a>
      <a href="/home">Jobs</a>
      <a href="/profile">My profile</a>
      <a href="/logout">Log out</a>
    </div>

    {{{body}}}

    <footer>
      <p>designed by Mattia + Zuzana</p>
    </footer>

    <script src="/js/script.js"></script>
  </body>

</html>