/* // colors purple: #6200EE, turquoise: #00BCD4
// fonts: roboto */

body {
  margin: 60px 0 10px;
  padding: 0;
  padding-bottom: 100px;
  font: 14px;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
}

.topnav {
    background-color: #6200EE;
    height: 60px;
    color: white;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
      position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
}

.topnav > a{
  color: white;
  /* font-weight: bold; */
  padding: 1%;
  margin: 1%;
}

footer {
  background-color: #6200EE;
  height: 60px;
  color: white;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer > p {
  text-align: center;
}

a {
  /* color: black; */
  text-decoration: none;
}

h1 {
  /* color: 15px; */
}

.primary-button{
  background-color: #6200EE;
  color: white;
  text-decoration: none;
  width: 390px;
  height: 35px;
  box-shadow: 2px 2px lightgray;
  border: none;
}

.secondary-button{
  background-color: #00BCD4;
  color: white;
  text-decoration: none;
  width: 390px;
  height: 35px;
  box-shadow: 2px 2px lightgray;
  border: none;
}

.index-top-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;

  /* width: 50%; */
}

.index-mid-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-inner-divs{
  padding: 6px;
}

.indexinputs {
  width: 380px;
  height: 30px;
  box-shadow: 2px 2px lightgray;
  background-color: lightgrey;
}

.indexlabels{
  font-size: 12px;
  margin-bottom: 2px;
}

.register-top-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
}

.register-mid-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

.profile-top-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.profile-mid-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

.profile-form{
  padding: 6px;
}

.profile-inputs{
  width: 380px;
  height: 30px;
  background-color: white;
  border: none;
  /* border-bottom: 1px solid lightgrey;  */
}

.profile-labels{
  font-size: 12px;
  margin-bottom: 2px;
  font-weight: bold;
}

/* .toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

/*Style 1*/

/* .toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
} */ 

.home-top-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.home-mid-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.home-bottom-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.home-inner-div{
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  /* border: none; */
  box-shadow: 2px 2px lightgray;
  width: 350px;
  margin: 1%;
  padding: 1.5%;
}

.home-inner-div:hover {
  border-color: #6200EE;
}

.search-button{
  background-color: #6200EE;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  width: 120px;
  height: 35px;
  box-shadow: 2px 2px lightgray;
  border: none;
}

.post-top-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.post-mid-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.post-inner-div{
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  /* border: none; */
  box-shadow: 2px 2px lightgray;
  width: 50%;
  margin: 1%;
  padding: 1.5%;
}